header {
   background: rgb(187, 187, 187);
   height: 70px; 
   width: 100%; 
   display: flex;
}

.logo {
    background: blue;
    height: 50px;
    width: 50px;
    margin: 10px 0px 0px 15px;
    display: flex;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.blueBox, .aquaBox, .peaBox, .yellowBox {
    height: 70px;
    width: 100%;
    flex: 1;

}

.blueBox {
    background: blue;
    
}

.aquaBox{
    background: aqua;
    
}

.peaBox {
    background: palegreen;
    
}

.yellowBox {
    background: yellow;
    
}

.textInBox {
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
}

.textBox {
    padding: 50px;
    display: flex;
}