header {
   background: rgb(187, 187, 187);
   height: 70px; 
   width: 100%; 
}

.logo {
    background: blue;
    height: 50px;
    width: 50px;
    margin: 10px 0px 0px 15px;
    display: inline-block;
}

.blueBox, .aquaBox, .peaBox, .yellowBox {
    height: 70px;
    width: 100%;
}

.blueBox {
    background: blue;
    position: absolute;
    bottom: 210px;
}

.aquaBox{
    background: aqua;
    position: absolute;
    bottom: 140px;
}

.peaBox {
    background: palegreen;
    position: absolute;
    bottom: 70px;
}

.yellowBox {
    background: yellow;
    position: absolute;
    bottom: 0px;
}

.textInBox {
    text-align: center;
    font-size: 30px;
}

.textBox {
    padding: 100px;
}