header {
    background: rgb(87, 87, 87);
    height: 100px;
}

.boxLeft, .boxRight {
    background-color: rgb(182, 182, 182);
    width: 150px;
    height: 550px;
}

.boxLeft {
    float: left;
}

.boxRight {
    float: right;
}

footer {
    background: rgb(34, 34, 34);
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
}